/* HEADER */

#logo {
    border-radius: 8px;
    width: 6rem;
    height: 6rem;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.5rem;
    position: relative;
    padding: 1.2rem;
    background-color: var(--Primary-Bleu-Canard);
}

.nav-items {
    position: absolute;
    z-index: 2;
    top: 100%;
    background: var(--primary-turquoise);
    height: 90vh;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    left: 0;
    align-items: center;
    transform: translateX(100%);
    transition: 1s;
    list-style-type: none;
}

/* Menu déroulant open */
.open .nav-items {
    transform: translateX(0);
    z-index: 1;
}

.nav-items li {
    padding: 3rem 2.2rem;
}

.nav-items li a {
    font-size: 1.6rem;
    font-weight: var(--Montserrat-Medium);
}

.nav-items li:hover {
    background-color: var(--Primary-Vert);
}

.burger {
    display: block;
    width: 40px;
    height: 5px;
    position: relative;
    cursor: pointer;
}

/* Icon burger barre milieu*/
.burger span {
    display: block;
    border-radius: 4px;
    width: 100%;
    height: 4px;
    background: var(--Primary-Vert);
    top: 50%;
    transform: translateY(-50%);
}

/* Efface barre du milieu qd menu ouvert */
.open .burger span {
    background: transparent;
}

/* Format barre dessus et dessous */
.burger span::before,
.burger span::after {
    content: "";
    border-radius: 4px;
    display: block;
    width: 100%;
    height: 4px;
    background: var(--Primary-Vert);
    position: absolute;
    transition-delay: 0.5s;
}

/* Barre dessus icon */
.burger span::before {
    transform: translatey(-10px);
    transition: ease-in 0.5s;
}

/* Rotation barre du haut */
.open .burger span::before {
    transform: rotate(45deg);
    transition: ease-in 0.5s;
}

/* Barre dessous icon */
.burger span::after {
    transform: translatey(10px);
    transition: ease-in 0.5s;
}

/* Rotation barre du bas */
.open .burger span::after {
    transform: rotate(-45deg);
    transition: ease-in 0.5s;
}


/* SCROOL TO TOP */
#scroll_to_top {
    position: fixed;
    bottom: 80px;
    right: 1rem;
}

#scroll_to_top img {
    width: 50px;
    height: 50px;
}


/*-------------------------------------------------------------------------------------------*/
/* FOOTER*/
/*-------------------------------------------------------------------------------------------*/

.footer-mob {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--primary-turquoise);
    color: var(--Blanc);
    text-align: center;
    padding-top: 0.5rem;
    height: 7rem;
}

#nav-carte {
    background: no-repeat url(/img/Menu_icon.png) top;
    padding: 2rem 0 0.7rem 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#nav-resto {
    background: no-repeat url(/img/Infos_icon.png) top;
    padding: 2rem 0 0.7rem 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#nav-contact {
    background: no-repeat url(/img/ic_baseline-local-phone.png) top;
    padding: 2rem 0 0.7rem 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#footer-dsk {
    display: none;
}

#nav-res-soc-footer {
    background-color: var(--Primary-Vert);
    justify-content: center;
    display: flex;
    align-items: center;
}

/*********************************************************************************************/
/*-------------------------------------------------------------------------------------------*/
/*********************************************************************************************/

@media screen and (min-width: 1024px) {
    /* Header */

    #logo {
        width: 7rem;
        height: 7rem;
    }


    .burger {
        display: none;
    }

    .nav-header {
        position: static;
        justify-content: space-between;
        align-items: center;
        padding: 3rem 3rem;
    }

    .nav-items {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 65vw;
        transform: translateX(0%);
        background-color: var(--Primary-Bleu-Canard);
        height: min-content;
    }

    .nav-items li {
        padding: 0rem;
    }

    .nav-items li a {
        font-size: 1.6rem;
        font-weight: var(--Montserrat-Medium);
    }

    .nav-items li:hover {
        background-color: var(--Primary-Bleu-Canard);
    }

    .nav-items li a {
        color: var(--Blanc);
    }

    .nav-items li a:hover {
        color: var(--Primary-Vert);
    }

    .nav-res-soc {
        display: none;
    }

    /* FOOTER DESKTOP*/
    .footer-mob {
        display: none;
    }

    #footer-dsk {
        display: block;
    }

    #footer-top {
        justify-content: space-around;
        background-color: var(--Primary-Bleu-Canard);
        padding: 2rem;
    }

    .div-footer {
        display: flex;
        flex-direction: column;
        padding: 0 3rem;
        justify-content: space-between;
    }

    .h1-footer {
        font-size: 1.3rem;
        font-weight: var(--Montserrat-Semi-bold);
        text-align: left;
        color: var(--Blanc);
        margin: 1rem 0 1rem 0;
    }

    .h2-footer {
        font-size: 1.3rem;
        margin: 0.5rem 0;
        text-align: left;
        color: var(--Blanc);
    }

    .p-footer {
        color: var(--Blanc);
        font-weight: var(--Montserrat-regular);
        font-size: 1.2rem;
        padding: 1rem 0;
        text-align: left;
    }

    .adresse {
        width: 25vh;
    }

    .lien-footer {
        color: var(--Primary-Vert);
        text-align: center;
        text-decoration: underline;
        font-weight: var(--Montserrat-medium);
        font-size: 1.4rem;
        margin: 0.5rem 0;
        text-align: left;
        font-style: normal;
    }

    .lien-footer:hover {
        color: var(--primary-Orange);
    }

    img {
        padding: 0;
        margin-left: 0;
    }

    .publis {
        display: flex;
        justify-content: space-around;
    }

    .img-inst {
        width: 80px;
        border-radius: 8px;
        padding: 4px 4px 0 0;
    }

    #tfoot {
        background-color: var(--Noir);
        color: var(--Primary-Vert);
        padding: 20px 0;
        text-align: center;
    }

    .icone-desktop {
        width: 30px;
        margin: 4px;
    }

    .icone-desktop a:hover {
        color: var(--primary-Orange);
    }

    #scroll_to_top {
        display: none;
    }


}